footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

@media (min-width: 1600px) {
  footer {
        padding: 36px 10%;
        font-size: 1.05rem;
    }
}

@media (max-width: 425px) {
  footer {
        padding: 24px 6%;
  }
}

@media (max-width: 375px) {
  footer {
        font-size: 0.95rem;
  }
}
