<section class="contato">
  <div class="lado-esquerdo">
    <img
      src="20c51a28-e1e0-40c9-a8fe-406b747535ba-removebg-preview.png"
      alt="Imagem de frutas">
  </div>

  <div class="lado-direito">
    <div class="texto-contato">
      <h1>Entre em contato conosco pelo formulário abaixo</h1>

      <p>
        Envie sua mensagem e nossa equipe retornará em breve com o melhor
        atendimento.
      </p>
    </div>

    <form class="formulario">
      <div class="campo">
        <label for="nome">Nome</label>
        <input type="text" id="nome" required>
      </div>

      <div class="campo">
        <label for="telefone">Telefone</label>
        <input type="tel" id="telefone" required>
      </div>

      <div class="campo">
        <label for="email">E-mail</label>
        <input type="email" id="email" required>
      </div>

      <div class="campo">
        <label for="mensagem">Mensagem</label>
        <textarea id="mensagem" required></textarea>
      </div>

      <button type="submit" class="enviar">
        ENVIAR MENSAGEM
      </button>
    </form>
  </div>
</section>
