html {
  scroll-behavior: smooth;
}

body {
  background: #fffef8;
  color: #222;
  line-height: 1.6;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeReveal 1s ease forwards;
}

.hero__content {
  animation-delay: 0.2s;
}

.historia .reveal {
  animation-delay: 0.5s;
}

.fundador .reveal {
  animation-delay: 0.8s;
}

@keyframes fadeReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://images.unsplash.com/photo-1610832958506-aa56368176cf?q=80&w=1400&auto=format&fit=crop")
      center / cover no-repeat;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 8%;
}

.hero__content {
  color: white;
}

.hero__content h1 {
  font-size: 3.5rem;
  margin-bottom: 12px;
}

.hero__content p {
  font-size: 1.1rem;
  opacity: 0.9;
}

.historia {
  padding: 90px 8%;
}

.section-row {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.section-row--invertida {
  flex-direction: row-reverse;
}

.conteudo-texto {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

s.conteudo-texto h2 {
  font-size: 2rem;
  color: #222;
  line-height: 1.2;
}

.conteudo-texto h3 {
  font-size: 1.3rem;
  color: #4e9f2d;
}

.conteudo-texto p {
  color: #333;
  font-size: 1rem;
}

.conteudo-imagem {
  flex: 1;
  min-width: 280px;
}

.conteudo-imagem img {
  width: 100%;
  max-width: 520px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  display: block;
}

.fundador {
  padding: 90px 8%;
  background: #dbf1d3;
}

.conteudo-imagem--fundador img {
  filter: grayscale(10%);
}

@media (min-width: 1600px) {
  .hero__content h1 {
    font-size: 4.5rem;
  }

  .hero__content p {
    font-size: 1.3rem;
  }

  .conteudo-texto h2 {
    font-size: 2.5rem;
  }

  .historia,
  .fundador {
    padding: 120px 12%;
  }

  .section-row {
    gap: 80px;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 9vw;
  }

  .hero__content h1 {
    font-size: 3rem;
  }

  .historia,
  .fundador {
    padding: 70px 6%;
  }

  .section-row {
    gap: 40px;
  }
}

@media (max-width: 768px) {

  .hero__content h1 {
    font-size: 2.2rem;
  }

  .section-row,
  .section-row--invertida {
    flex-direction: column;
  }

  .historia,
  .fundador {
    padding: 60px 5%;
  }
}

@media (max-width: 425px) {
  .logo {
    width: 22vw;
  }

  .hero {
    height: 40vh;
    padding: 30px 6%;
  }

  .hero__content h1 {
    font-size: 1.9rem;
  }

  .hero__content p {
    font-size: 1rem;
  }

  .conteudo-texto h2 {
    font-size: 1.7rem;
  }

  .historia,
  .fundador {
    padding: 50px 5%;
  }
}

@media (max-width: 375px) {
  .hero__content h1 {
    font-size: 1.6rem;
  }

  .conteudo-texto h2 {
    font-size: 1.5rem;
  }

  .conteudo-texto h3 {
    font-size: 1.1rem;
  }

  .historia,
  .fundador {
    padding: 40px 4%;
  }
}
